<!DOCTYPE html>
<html>
<head>
	<title>sun</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1 align="center">~welcome to sun calculator~</h1>
	<a align="center" href="/signup"><h3>Register for the App</h3></a>

</body>
</html>