<!DOCTYPE html>
<html>
<head>
	<title>Sign-up</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h2 align="center">User Sign-up</h2>
	<form action="/signup" method="post" align="center">
		<input type="text" name="name" placeholder="name">
		<br>
		<input type="text" name="username" placeholder="username">
		<br>
		<input type="text" name="password" placeholder="password">
		<br>
		<input type="submit" name="submit-login" value="register">
	</form>

</body>
</html>